@model ParkingDetails

<br />
@foreach (var floors in ViewBag.AllFloors)
{

	<div class="alert alert-dismissible alert-warning">
		<center>
			&nbsp;<strong> @floors Floor Car Park</strong><br />
		</center>
	</div>



	<div class="container d-flex flex-wrap">
		<div style="display:none;" id="loader"></div>

		@foreach (var parkingSpace in Model.ParkingSpaces)
		{
		
			if (parkingSpace.Floor == floors)
			{
				@if (string.IsNullOrEmpty(parkingSpace.Occupant))
				{
						<div class="card text-white bg-success mb-3">
							<div class="card-header"><strong>Slot: </strong>@parkingSpace.SlotNumber</div>
							<div class="card-body">

							@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { @name = "Form1" }))
							{
								<center>
									@if(@parkingSpace.SlotType == "Car"){
								<img src="https://cdn-icons-png.flaticon.com/512/1048/1048313.png" style="width:100px;height:100px;" />
									}else{
									<img src="https://cdn-icons-png.flaticon.com/512/1048/1048323.png" style="width:100px;height:100px;" />
									}
									<br>
									<strong>@parkingSpace.SlotType</strong>
								</center>


								if(parkingSpace.SlotType == "Car"){
									<h4 class="card-title">@Html.DropDownList(parkingSpace.SlotNumber+"|"+parkingSpace.Floor+"|"+parkingSpace.SlotType, new SelectList(ViewBag.CarList),"", new {id = "ddlOccupant", @class="js-example-responsive js-states form-control" ,style="width:100%;"})</h4>
							}
								else
								{
									<h4 class="card-title">@Html.DropDownList(parkingSpace.SlotNumber+"|"+parkingSpace.Floor+"|"+parkingSpace.SlotType, new SelectList(ViewBag.MotorBikeList),"", new {id = "ddlOccupant", @class="js-example-responsive js-states form-control",style="width:100%;"})</h4>
								}

								<input type="hidden" id="@ViewBag.Floor" name="thisfloor">
								

								@Html.Hidden("slotnumber", null , new{id = "hfSlotNumber"})
								@Html.Hidden("Occupant", null , new{id = "hfSelectedOccupant"})
								@Html.Hidden("floor", ViewBag.Floor, new{id = "hfFloor"})
								@Html.Hidden("vehicleType", null , new{id = "hfVehicleType"})
								}
								

							</div>
						</div>				
				}
				else
				{
					@using (Html.BeginForm("FreeUp", "Home", FormMethod.Post, new { @name = "Form2" }))
					{
						<div class="card text-white bg-danger mb-3">
							<div class="card-header"><strong>Slot: </strong>@parkingSpace.SlotNumber
								
							</div>
							<div class="card-body">
								<p><strong>Occupant: </strong>@parkingSpace.Occupant</p>
								@foreach (var occupantDetails in Model.Occupants)
								{
									if (occupantDetails.FullName == parkingSpace.Occupant)
									{
										var thisDate = parkingSpace.DateTime.ToDateTime();
										var convertedTime = thisDate.ToLocalTime();
										if (!string.IsNullOrEmpty(occupantDetails.PlateNumber))
										{
											<p><strong>Plate Number: </strong>@occupantDetails.PlateNumber</p>
										}
										<h6><strong>Contact Number: </strong>@occupantDetails.ContactNumber</h6>
									
										<h6><strong>Vehicle: </strong>@occupantDetails.Vehicle</h6>
									
										<h6><strong>Date: </strong>@convertedTime.ToString("ddd, dd MMM yyy")</h6>
										<h6><strong>Time: </strong>@convertedTime.ToString("hh:mm tt")</h6>
									}
								}


								<button type="button" class="btn btn-secondary" name="@parkingSpace.SlotNumber|@parkingSpace.Floor|@parkingSpace.SlotType" id="ddlFreeUp" stlye="width:9rem;">Free Up</button>
								
								<input type="hidden" id="@ViewBag.Floor" name="thisfloor">

								@Html.Hidden("slotnumber", null , new{id = "hfSlotNumberFreeUp"})
								@Html.Hidden("Occupant", null , new{id = "hfSelectedOccupantFreeUp"})
								@Html.Hidden("floor", null , new{id = "hfFloorFreeUp"})
								@Html.Hidden("vehicleType", null , new{id = "hfVehicleTypeFreeUp"})
							


							</div>
						</div>

					}
				}
			
			}

		}


	</div>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://rawgit.com/select2/select2/4.0.5/dist/js/select2.full.min.js"></script>
							
<script type="text/javascript" src="Scripts/homescript.js">
</script>

@if (TempData["Message"] != null)
{
	<script >
		$(function () {
			if("@TempData["Message"]" == "Success"){
			swal("@TempData["Message"]", "", "success");
			}else{
				swal("Oops!", "@TempData["Message"]", "error");
			}
		});
	</script>
}

