@model IEnumerable<Occupants>

    <br />
    <center>
    <input type="text" class="form-control" id="searchBox" placeholder="Search..." style="width:80%;"><br />
    </center>
<br />

  
<div class="container d-flex flex-wrap" style="width:100%;">

        @foreach (var item in Model)
        {
         string[] nameSplit = item.FullName.Split(new string[] { "," , " "}, StringSplitOptions.RemoveEmptyEntries);
                    
         string initials = "";
        foreach (string items in nameSplit)
        {
            initials += items.Substring(0, 1).ToUpper();
        }
        char fInitial = initials[0];
        char lInitial = initials[initials.Length - 1];
        string combInitial = fInitial.ToString()+lInitial.ToString(); 

        @using (Html.BeginForm("Delete", "Occupants", FormMethod.Post, new { 
            @name = "Form4" }))
            {
          
                    <div class="card bg-secondary mb-3">
                        <div class="card-body">
                            <center>
                        <div class="initial-avatar">@combInitial</div><br>
                               

                          
                            <h6 class="card-title"><strong>@item.FullName</strong></h6>
                           
                            </center>
                             <p class="card-text">
                                @if (!string.IsNullOrEmpty(item.PlateNumber))
                                {
                                    <strong>Plate Number:</strong>
                                    @item.PlateNumber
                                    <br />
                                }

                                 <strong>Contact Number:</strong>
                                <br />@item.ContactNumber
                                <br />

                                <strong>Vehicle:</strong>
                                @item.Vehicle</p>
                    
                        </div>
                        <div class="card-footer">
                            <button name="@item.FullName|@item.ContactNumber|@item.PlateNumber|@item.Vehicle" type="button" id="editUser" class="btn btn-primary" >Edit</button>
                            <button name="@item.FullName" type="button" id="ddlDeleteUser" class="btn btn-danger" >Delete</button>
                        </div>
                    </div>
        
           
                @Html.Hidden("userToDelete", null , new{id = "hfUserToDelete"})
           
            }

       
        }

</div>


<div id="myModal" class="modal">

    <!-- Register -->
    <div class="modal-content">
        <div class="modal-header">
            <h5>Add new Vehicle</h5>
        <span class="close">&times;</span>
        </div>
        <center>
            <div class="modal-body">
                @using (Html.BeginForm("Register", "Occupants", FormMethod.Post, new { @name = "Form3" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" id="fullName" placeholder="Full Name" style="width:80%;" maxlength="30" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)"  onchange="UserCheck()"required><br />
                        <p id="Status"><p>
                        <input type="text" class="form-control" id="plateNumber" placeholder="Plate Number" style="width:80%;" maxlength="10" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)" required><br />
                            <input type="number" class="form-control" id="contactNumber" placeholder="Contact Number" style="width:80%;" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" required><br />
                        <label for="exampleSelect1"  class="form-label mt-4">Vehicle Type:</label>
                            <select class="form-select" id="vehicleType" style="width:80%;">
                            <option>Car</option>
                            <option>Motorcycle</option>
                            <option>Bicycle</option>
                        </select>
                    </div>
                    @Html.Hidden("fullname", null , new{id = "hfFullName"})
                    @Html.Hidden("platenumber", null , new{id = "hfPlateNumber"})
                    @Html.Hidden("contactnumber", null , new{id = "hfContactNumber"})
                    @Html.Hidden("vehicleType", null , new{id = "hfVehicleType"})
                          <br />
                     <button type="button" class="btn btn-primary" id="ddlSubmit" stlye="width:20rem;">Submit</button>

                  

                    <br>

                    <br>
                }
            </div>

        </center>
    </div>

</div>
<!-- Edit User -->

<div id="myModalEdit" class="modal">

    <!-- Edit -->
    <div class="modal-content">
        <div class="modal-header">
            <h5>Edit User</h5>
        <span class="closeEdit">&times;</span>



        </div>
        <center>
            <div class="modal-body">
                @using (Html.BeginForm("EditUser", "Occupants", FormMethod.Post, new { @name = "Form5" }))
                {
                        <div class="form-group">
                            <strong>Full Name</strong>
                        <input type="text" class="form-control" id="fullNameEdit" placeholder="Full Name" style="width:80%;" maxlength="30" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)" required><br />
                            
                            <strong id="plateNumberEditText">Plate Number</strong>
                        <input type="text" class="form-control" id="plateNumberEdit" placeholder="Plate Number" style="width:80%;" maxlength="6" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)" required><br />
                            <strong>Contact Number</strong>
                        <input type="number" class="form-control" id="contactNumberEdit" placeholder="Contact Number" style="width:80%;" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 32)" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" required><br />
                           
                            <strong>Vehicle </strong>
                            <select class="form-select" id="vehicleTypeEdit" style="width:80%;">
                                <option>Car</option>
                                <option>Motorcycle</option>
                                <option>Bicycle</option>
                            </select>
                        </div>
                    @Html.Hidden("fullNameOriginal", null , new{id = "hfFullNameOriginal"})
                    @Html.Hidden("plateNumberOriginal", null , new{id = "hfPlateNumberOriginal"})
                    @Html.Hidden("fullnameEdit", null , new{id = "hfFullNameEdit"})
                    @Html.Hidden("platenumberEdit", null , new{id = "hfPlateNumberEdit"})
                    @Html.Hidden("contactnumberEdit", null , new{id = "hfContactNumberEdit"})
                    @Html.Hidden("vehicleTypeEdit", null , new{id = "hfVehicleTypeEdit"})
                        <br />
                        <button type="button" class="btn btn-primary" id="ddlSubmitEdit" stlye="width:20rem;">Submit</button>

                

                        <br>

                        <br>
                }
            </div>

        </center>
    </div>

</div>

<button type="button" class="btn btn-secondary" id="myBtn" stlye="width:10rem;">Add new Vehicle</button>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/occupants.js"> </script>


@if (TempData["Message"] != null)
{
    <script>
        $(function () {
            if ("@TempData["Message"]" == "Success") {
                swal("@TempData["Message"]", "", "success");
            } else {
                swal("Oops!", "@TempData["Message"]", "error");
            }
        });
    </script>
}

